In [1]:
#creating a list
list1 = [1,2,3,4.1,'antwak']
print(list1)

[1, 2, 3, 4.1, 'antwak']

In [5]:
#Find the index of the element
index = list1.index(1)
print('The index of 1:', index)

The index of 1: 0

In [8]:
#To extract any element at specific index
list1[4]

'antwak'

In [9]:
#creating a list
list1 = [1,2,3,4.1,'antwak']
print(list1)

[1, 2, 3, 4.1, 'antwak']

In [10]:
#Find the index of the element
index = list1.index(1)
print('The index of 1:', index)

The index of 1: 0

In [11]:
#To extract any element at specific index
list1[4]

'antwak'

In [13]:
#To extract sequence out of a list (in this case list starts from 1 and stops at 3 and it doesn't include 4)
list1[1:4]

[2, 3, 4.1]

In [15]:
#To extract an element using negative index
list1[-1]

'antwak'

In [16]:
#Access the elements in reverse
list1[::-1]

['antwak', 4.1, 3, 2, 1]

In [17]:
#Adding a single element
list1.append(10)
list1

[1, 2, 3, 4.1, 'antwak', 10]

In [18]:
#Find the index of the added element
index = list1.index(10)
print('The index of 10:', index)

The index of 10: 5

In [20]:
#Adding multiple elements
list1.extend(['Data',11,'Engineering'])
list1

[1, 2, 3, 4.1, 'antwak', 10, 'Data', 11, 'Engineering']

In [21]:
#Adding list to a list
list1.append([20,30])
list1

[1, 2, 3, 4.1, 'antwak', 10, 'Data', 11, 'Engineering', [20, 30]]

In [23]:
#Deleting an element by its value
list1.remove('Engineering')
list1

[1, 2, 3, 4.1, 'antwak', 10, 'Data', 11, [20, 30]]

In [24]:
#Deleting an element by its index
del list1[0]
list1

[2, 3, 4.1, 'antwak', 10, 'Data', 11, [20, 30]]

In [25]:
#For loop over a list (printing each element of a list)
for i in list1:
    print(i)

2
3
4.1
antwak
10
Data
11
[20, 30]

In [26]:
#Deleting a list
del list1

In [27]:
list1

NameError: name 'list1' is not defined

In [46]:
#creating a sample dictionary (key:value --> value = number)
dict1={'Ant':1, 'wak':2, 'Data':3}
dict1

{'Ant': 1, 'wak': 2, 'Data': 3}

In [30]:
#creating a sample dictionary (key:value --> value = List)
dict2={'Antwak':[1,2], 'Data Engineering':[3,4]}
dict2

{'Antwak': [1, 2], 'Data Engineering': [3, 4]}

In [31]:
#Accesing elements of Dictionary (Dictionary accessed by key)
dict1['wak']

2

In [42]:
#Adding a single element
dict1['Data']=3
dict1

{'Ant': 1, 'wak': 2, 'Data': 3}

In [34]:
#Adding multiple elements at once in dictionary
dict1.update({'Engg':4, 'class':1,})
dict1

{'Ant': 1, 'wak': 2, 'Data': 3, 'Engg': 4, 'class': 1}

In [35]:
#Deleting an element
del dict1['Data']
dict1

{'Ant': 1, 'wak': 2, 'Engg': 4, 'class': 1}

In [39]:
#Deleting an element using pop function
dict2.pop('Antwak')
dict2

{'Data Engineering': [3, 4]}

In [47]:
#deleting multiple elements
dict1

{'Ant': 1, 'wak': 2, 'Data': 3}

In [48]:
#Deleting multiple elements using loop
rem_list=['Ant','wak']

[dict1.pop(key) for key in rem_list]
dict1

{'Data': 3}

In [49]:
#deleting dictionary
del dict1

In [50]:
dict1

NameError: name 'dict1' is not defined

In [51]:
pwd

'C:\\Users\\aranjan'

In [57]:
cd \users\aranjan\Documents\

C:\users\aranjan\Documents

In [58]:
#importing pandas library
import pandas as pd

In [62]:
#reading csv file
df=pd.read_csv("data_sample.csv")

In [63]:
df.head(5)

   Emp_Id   Dept  Dept_Id  Salary  Tenure
0       1  Sales     1001    12.5     6.2
1       2     Hr     1002    10.0     4.0
2       3  Admin     1003     8.0     3.0
3       4   Tech     1004     6.5     3.5
4       5   Tech     1004     8.0     5.0

In [64]:
df1=pd.read_excel("data_sample.xlsx")
df1.head()

   Emp_Id   Dept  Dept_Id  Salary  Tenure
0       1  Sales     1001    12.5     6.2
1       2     Hr     1002    10.0     4.0
2       3  Admin     1003     8.0     3.0
3       4   Tech     1004     6.5     3.5
4       5   Tech     1004     8.0     5.0

# Coding for Patterns

In [14]:
#Pyramid

def pattern(n):
    k=n
    for i in range(0,n):
        for j in range(0,k):
            print(end=" ")
        k=k-1
        for j in range(0,i+1):
            print("* ", end="")
        print("\r")
            
pattern(10)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [15]:
#number pattern

def pattern(n):
    x=0
    for i in range(0,n):
        x += 1
        for j in range(0,i+1):
            print(x,end=" ")
        print("\r")
        
pattern(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [19]:
# lambda arguments : expression

x = lambda a : a*5
x(5)

25

In [36]:
#Lambda within user-defined functions

def func1(x):
    return(lambda y:x*y)
B=func1(10)
print(B(2))

20

# Map(), Reduce() and Filter() with Lambda

In [29]:
#Lambda within FILTER function
# Syntax for filter function: filter(function,iterables)

Data_In = [-1,-3,-4,-5,1,3,5,7,9,2,4,6,8]
Data_out = list(filter(lambda a:(a>0),Data_In))
print(Data_out)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [48]:
#Sample loop program

list1 = [1, 2, 3, 4, 5]
squared = []
for i in list1:
    squared.append(i**2)
print(squared)

[1, 4, 9, 16, 25]

In [49]:
#Linear Equation: 3x+4y
C=lambda x,y: 3*x+4*y
C(2,3)

18

In [50]:
#Quadratic Equstion: 3x^2+4x
C = lambda x: 3*x*x+4*x
C(4)

64

In [1]:
#Most of the times we want to pass all the list elements to a function one-by-one and then collect the output. For instance:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
print(squared)

[1, 4, 9, 16, 25]

In [2]:
#MAP() allows us to implement this in a much simpler and nicer way. Here we go:
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print(squared)

[1, 4, 9, 16, 25]

In [3]:
#Reduction using loop:

product = 1
list = [10, 12, 14, 16]
for num in list:
    product = product * num
print(product)

26880

In [4]:
#Reduce function:
from functools import reduce
product = reduce((lambda x, y: x * y), [10, 12, 14, 16])
print(product)

26880